.A1{border: red solid 2px; border-radius: 15px;background-color: aqua;}
h1{text-align: center;}
i{color: red;}
h2{color: green;}
mark{text-align: center;}
.A2{text-align: center;color: green;}
h3{color: green;}
button{background-color: aqua;color: white;width: 200px;}
th,td{color: white;}
tr,th,td{border: white;}
.a{background-color: green; width: 150px;}
.b{background-color: blue;}
.c{background-color: red;}
.d{background-color: black; width: 400px;}


